<nav aria-label="breadcrumb" class="mb-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/viewproject/{{id}}">Project</a></li>
        <li class="breadcrumb-item active" aria-current="page">New Member</li>
    </ol>
</nav>

{{#if alert}}
<div class="row">
    <div class="mb-4">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{alert}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
{{/if}}

<form class="row g-3 needs-validation" method="POST" action="/viewproject/{{id}}/addmember" novalidate>
    <div class="row">
        <div class="col-12">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="{{id}}" placeholder="Project ID"
                    name="projectID" readonly>
                <label for="floatingInput">Project ID</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="{{this.empID}}"
                    placeholder="Employee ID" name="empID">
                <label for="floatingInput">Employee ID</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="{{this.password}}"
                    placeholder="Password" name="password">
                <label for="floatingInput">Password</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <label for="role">Role</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="role" id="lead" value="Lead">
                    <label class="form-check-label" for="lead">Lead</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="role" id="member" value="Member">
                    <label class="form-check-label" for="member">Member</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-grid">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
</form>