<div class="row">
    <div class="col-6">
        <h1 class="mb-4">Projects</h1>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <a href="/addproject" type="button" class="btn btn-primary align-self-center"> Add a Project</a>
    </div>
</div>



<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Project ID</th>
            <th scope="col">Project Name</th>
            <th scope="col">Description</th>
            <th scope="col" class="text-end">Action</th>
        </tr>
    </thead>
    <tbody>

        {{#each rows}}
        <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td class="text-end">
                <a href="/viewproject/{{this.id}}" type="button" class="btn btn-secondary btn-small mt-1 mb-1"><i
                        class="bi bi-eye"></i>
                    View</a>
                <a href="/editproject/{{this.id}}" type="button" class="btn btn-secondary btn-small mt-1 mb-1"><i
                        class="bi bi-pencil"></i>
                    Edit</a>
            </td>
        </tr>
        {{/each}}


    </tbody>
</table>