<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">View Project</li>
    </ol>
</nav>

<div class="row">
    <div class="col-6">
        <h1 class="mb-4">Project {{id}}</h1>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <a href="/viewproject/{{id}}/addmember" type="button" class="btn btn-primary align-self-center"> Add a
            member</a>
    </div>
</div>



<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Password</th>
            <th scope="col">Role</th>

        </tr>
    </thead>
    <tbody>

        {{#each rows}}
        <tr>
            <th scope="row">{{this.empID}}</th>
            <td>{{this.password}}</td>
            <td>{{this.role}}</td>

        </tr>
        {{/each}}


    </tbody>
</table>